@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../../fonts/PublicSans/PublicSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 300;
  src:
    url('../../fonts/PublicSans/PublicSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../../fonts/PublicSans/PublicSans-Bold.ttf') format('truetype');
}