@use "#styles/mixins" as mixins;

.ArticleSection {
  padding: 88px 0 80px;
  background-color: var(--color-gray);

  .sectionTitle {
    margin-bottom: 32px;
    font: {
      size: 32px;
      weight: 400;
    }
    line-height: 36px;
    letter-spacing: -0.6px;
    text-align: center;
    color: var(--color-blue-1);
  }

  @include mixins.desktop {
    .sectionTitle {
      margin-bottom: 52px;
      text-align: left;
      font-size: 40px;
    }
  }
}