@layer defaults.base {
  html {
    font: {
      family: var(--font-public-sans), Arial, Helvetica, sans-serif;
      size: 18px;
    }
    color: var(--color-blue-2);
  }
  
  body {
    min-height: 100svh;

    background-color: rgb(185, 185, 185); //
  }
  
  img {
    all: revert;
    max-inline-size: 100%; /* max-width: 100% */
    block-size: auto;      /* height: 100% */
  }

  a {
    cursor: pointer;
    line-height: 0;
  }

  button, label, img, a {
    user-select: none;
  }
}