@layer defaults.base {
  *:focus-visible {
    outline: solid #111111 4px;
  }

  html {
    font: {
      family: var(--font-public-sans), Arial, Helvetica, sans-serif;
      size: 18px;
    }
    color: var(--color-blue-2);
  }
  
  body {
    min-height: 100svh;
    min-width: var(--min-mobile-width);
  }
  
  img {
    all: revert;
    max-inline-size: 100%; /* max-width: 100% */
    block-size: auto;      /* height: auto */
  }

  a {
    cursor: pointer;
    line-height: 0;
  }

  button, label, img, a {
    user-select: none;
  }
}