//Primary
$blue-1: hsl(233, 26%, 24%);
$green : hsl(136, 65%, 51%);
$cyan  : hsl(192, 70%, 51%);

// Neutral
$blue-2: hsl(233, 8%, 62%);
$blue-3: hsl(220, 16%, 96%); // content
$gray  : hsl(0, 0%, 98%); // content
$white : hsl(0, 0%, 100%);

// Extra
$blue-4: hsla(233, 26%, 24%, 0.5);
$transparent: hsla(233, 26%, 24%, 0.1);
