//Primary
$blue-1: hsl(233, 26%, 24%);
$green : hsl(136, 65%, 51%);
$cyan  : hsl(192, 70%, 51%);

// Neutral
$blue-2: hsl(233, 8%, 62%);
$glue-3: hsl(220, 16%, 96%);
$gray  : hsl(0, 0%, 98%);
$White : hsl(0, 0%, 100%);