@use "#styles/mixins" as mixins;

.SocialLinks {
  
  :first-child ~ * { margin-left: 20px; }

  & > * > * {
    transform: scale(1.2);
    margin-bottom: -4px;

    & > path { transition: fill 0.2s linear; }

    &:hover > path { fill: var(--color-green); }
  }

  @include mixins.large {

    :first-child ~ * { margin-left: 14px; }

    & > * > * {
      transform: scale(1);
      margin-bottom: 0;
    }
  }
}