.Attribution {
  padding-block: 8px;
  font-size: 11px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-blue-2);

  a {
    color: var(--color-white);
    line-height: 16px;
    margin-left: 4px;

    &:hover {
      color: var(--color-blue-1);
    }

    &:after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: {
        left: 4px;
        bottom: -2px;
      }
      background: {
        image: url('./external-link.svg');
        repeat: no-repeat;
        position: center;
        size: cover;
      }
    }

    .icon {
      width: 10px;
      aspect-ratio: 1 / 1;
      fill: var(--color-white);
    }
  }
}