@import '../../assets/styles/config';

.Attribution {
  padding-top: 8px;
  padding-bottom: 4px;
  font-size: 11px;
  text-align: center;
  color: $white;
  background-color: $green;

  a {
    color: $white;
    line-height: 16px;
    margin-left: 4px;

    &:hover {
      color: $blue-1;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-left: 4px;
      margin-bottom: -2px;
      background:
        url('./external-link.svg')
        scroll
        no-repeat
        center / cover;
    }

    .icon {
      width: 10px;
      height: 10px;
      fill: $white;
    }
  }
}