@use "#styles/mixins" as mixins;

.MobileNavigation {
  display: grid;
  padding-block: 20px;
  border-radius: 5px;
  color: var(--color-blue-1);
  list-style-type: none;
  background-color: var(--color-white);

  .navLink {
    display: grid;
    place-items: center;
    height: 45px;
  }
}