@use "#styles/mixins" as mixins;

.MainNavigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 265px;
  padding: 32px;
  background-color: var(--color-white);
  border-radius: 4px;
  transform: translateY(-140%);
  will-change: transform;
  animation: navDown 0.4s linear 0s 1 normal forwards;

  .navItem {
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.4px;
    color: var(--color-blue-1);
  }

  @include mixins.large {
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    padding: 0;
    background-color: hsla(0, 0%, 100%, 0);
    transform: none;
    animation: none;

    .navItem {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;
      font-size: 14px;
      letter-spacing: 0;
      color: var(--color-blue-2);
      transition: color 0.2s linear;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0; 
        right: 0;
        height: 4px;
        background-image: linear-gradient(90deg, var(--color-green), var(--color-cyan));
        filter: opacity(0);
        transition: filter 0.2s linear;
      }

      &:hover {
        color: var(--color-blue-1);

        &:after { filter: opacity(1); }
      }
    }
  }

  @keyframes navDown {
    0% { transform: translateY(-140%); }
    100% { transform: translateY(0%); }
  }
}