@use "#styles/mixins" as mixins;

.SecondNavigation {
  display: flex;
  flex-direction: column;
  background-color: var(--color-transparent);

  .navItem {
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    color: var(--color-white);
    transition: color 0.2s linear;

    &:hover { color: var(--color-green); }
  }

  @include mixins.medium {
    flex-wrap: wrap;
    height: 102px;

    .navItem {
      text-align: left;

      &:nth-of-type(n + 4) {
        margin-left: 128px;
      }
    }
  }
}