@use "#styles/mixins" as mixins;

.Container {
  margin-inline: 25px;

  @include mixins.tablet {
    margin-inline: 50px;
  }

  @include mixins.desktop {
    max-width: 1110px;
    margin-inline: auto;
  }
}