@use "#styles/mixins" as mixins;

.Container {
  box-sizing: content-box;
  margin-inline: auto;
  padding-inline: 24px;
  max-width: 1110px;

  // margin-inline: 25px;

  @include mixins.tablet {
    // margin-inline: 50px;
    padding-inline: 50px;
  }

  // @include mixins.desktop {
  //   max-width: 1110px;
  //   margin-inline: auto;
  // }
}