@use "#styles/mixins" as mixins;

.FeatureSection {
  padding: 66px 0;
  text-align: center;
  background-color: var(--color-blue-3);

  .sectionTitle {
    margin-bottom: 20px;
    font: {
      size: 32px;
      weight: 400;
    }
    line-height: 36px;
    letter-spacing: -0.6px;
    color: var(--color-blue-1);
  }

  .sectionDescription {
    margin: {
      inline: auto;
      bottom: 60px;
    }
    max-width: 325px;
    font-size: 15px;
    letter-spacing: -0.4px;
    line-height: 24px;
  }

  @include mixins.desktop {
    padding-top: 106px;
    text-align: left;

    .sectionTitle {
      margin-bottom: 26px;
      font-size: 40px;
      line-height: 44px;
      letter-spacing: -0.8px;
    }

    .sectionDescription {
      margin: {
        bottom: 70px;
        left: 0;
      }
      max-width: 620px;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.3px;
    }
  }
}