@use "#styles/mixins" as mixins;

.FeatureSection {
  padding: 66px 0;
  background-color: var(--color-blue-3);
  text-align: center;

  .sectionTitle {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: -0.6px;
    color: var(--color-blue-1);
  }

  .sectionDescription {
    max-width: 325px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    font-size: 15px;
    letter-spacing: -0.4px;
    line-height: 24px;
  }

  @include mixins.large {
    padding-top: 106px;
    text-align: left;

    .sectionTitle {
      margin-bottom: 26px;
      font-size: 40px;
      line-height: 44px;
      letter-spacing: -0.8px;
    }

    .sectionDescription {
      margin-bottom: 70px;
      margin-left: 0;
      max-width: 620px;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.3px;
    }
  }
}