// // Layout Limits
$minMobile : 320px;
$maxDesktop: 1920px;

// // Mobile First
// $minTablet : 768px;
// $minDesktop: 1024px;

// // Desktop First
// $maxMobile : 767px;
// $maxTablet : 1023px;


// ORIGINAL to REPLACE
$medium: 768px;
$large: 991px;
$extraLarge: 1210px;