// Design limits
// - Mobile: 375px
// - Desktop: 1440px


// Layout Limits
$minMobile : 320px;
$maxDesktop: 1920px;

// Mobile First
$minTablet : 768px;  // medium
$minDesktop: 1024px; // large

// Desktop First
$maxMobile : 767px;  // small
$maxTablet : 1023px; // medium