@use "../utils/breakpoints" as breakpoints;

// responsive helpers
@mixin minWith($breakpoint) {
  @media only screen and (min-width:$breakpoint) {
    @content;
  }
}

@mixin maxWith($breakpoint) {
  @media only screen and (max-width:$breakpoint) {
    @content;
  }
}

// mobile first responsive
@mixin tablet {
  @include minWith(breakpoints.$minTablet) {
    @content;
  }
}

@mixin desktop {
  @include minWith(breakpoints.$minDesktop) {
    @content;
  }
}


// ORIGINAL to REPLACE
// utilities
@mixin hiddenFlexElement {
  position: fixed;
  z-index: -1;
  width: 0;
  overflow: hidden;
}

@mixin showFlexElement {
  position: static;
  z-index: 0;
  width: auto;
  overflow: auto;
}