@use "#styles/mixins" as mixins;

.Modal {
  position: fixed;
  z-index: 1;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: linear-gradient(180deg, var(--color-blue-4) 70%, var(--color-transparent));

  @include mixins.medium {
    top: var(--header-height-desktop);
  }
}