.ButtonLink {
  display: inline-grid;
  place-items: center;
  width: 163px;
  height: 44px;
  padding-right: 1px;
  font-size: 14px;
  letter-spacing: 0.3px;
  word-spacing: -1px;
  color: var(--color-white);
  background-image: var(--gradient-background);
  border-radius: 22px;
  box-shadow: inset 0 0 0 22px #ffffff00;
  cursor: pointer;
  transition: box-shadow 0.1s linear;

  &:hover {
    box-shadow: inset 0 0 0 22px #ffffff66;
  }
}