@import '../../assets/styles/config.scss';

.ButtonInvitation {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 164px;
  text-align: center;
  text-decoration: none;
  line-height: 44px;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $white;
  background-image: linear-gradient(90deg, $green, $cyan);
  border-radius: 22px;
  transition: filter 0.2s linear;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    filter: opacity(0);
    transition: filter 0.2s linear;
  }

  &:hover:before { filter: opacity(0.4); }
}