.ButtonInvitation {
  position: relative;
  display: inline-block;
  width: 164px;
  text-align: center;
  text-decoration: none;
  line-height: 44px;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: var(--color-white);
  background-image: linear-gradient(90deg, var(--color-green), var(--color-cyan));
  border-radius: 22px;
  overflow: hidden;
  cursor: pointer;
  transition: filter 0.2s linear;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-white);
    filter: opacity(0);
    transition: filter 0.2s linear;
  }

  &:hover:before { filter: opacity(0.4); }
}