@import '../../assets/styles/config.scss';

.ButtonInvitation {
  cursor: pointer;
  display: inline-block;
  width: 164px;
  text-align: center;
  line-height: 44px;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $white;
  background-image: linear-gradient(90deg, $green, $cyan);
  border-radius: 22px;
  transition: filter 0.2s linear;

  &:hover { filter: brightness(1.4); }
}