@use "#styles/mixins" as mixins;

.DesktopNavigation {
  display: flex;
  flex-direction: row;
  column-gap: 31px;

  height: 100%;
  width: auto;

  font-size: 16px;

  background-color: inherit;
  color: var(--color-blue-2);
  padding-block: 0;

  .navItem {
    display: inline-block;
    height: inherit;
  }

  .navLink {
    display: grid;
    place-items: center;
    padding-inline: 0;
    height: inherit;
    letter-spacing: -1.3px;
  }
}